.container{
    height: 120px;
    background-image: url("../img/pattern.png");
    background-color: lightblue;

}


.container img{
    width: 250px;
    margin-top: 30px;
    
}

p{
    color: grey;
}

.link{
    color: lightblue;
}

.smaller{
    font-size: 80%;
}

.descrition-photo{
    font-style: italic;
    font-size: 80%;
}

.background{
    background-color: yellow;
}

.margin-left{
   padding-left: 18px;

}