.container{
    height: 120px;
    background-image: url("../img/pattern.png");
    background-color: lightblue;

}


.container img{
    width: 250px;
    margin-top: 30px;
    
}




.link{
    color: lightblue;
}

.smaller{
    font-size: 80%;
}

.descrition-photo{
    font-style: italic;
    font-size: 80%;
}

.background{
    background-color: yellow;
}

.margin-left{
   padding-left: 18px;

}

.table-head{
    background-color: lightblue;
    
    
    
}

th{
    color: white;
}

.text-align{
    text-align: left;
}

.table{
    background-color: aqua;
}

.color{
    color: grey;
}

.images-finali{
    background-image: url("../img/monitor.jpg");
    height: 200px;
    width: 280px;
    background-repeat: no-repeat;
    
}
.images-finali2{
    background-image: url("../img/graph.jpg");
    height: 200px;
    width: 280px;
    background-repeat: no-repeat;
    
}